@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css");
#map {
  width: 1000px;
  height: 1500px;
}

.marker {
  background-image: url("pin-worldmap.png");
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapContainer {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}
