#div {
  display: flex;
  justify-content: center;
}

img {
  margin-bottom: 1rem;
}

/*  Bilderanordnung via URL
    #r: rechtsbündig
    #l: linksbündig
    #z: zentriert
 */
.r,
img[src*="#r"] {
  float: right;
  margin-left: 1rem;
}

.l,
img[src*="#l"] {
  float: left;
  margin-right: 1rem;
}

.z,
img[src*="#z"] {
  margin: auto;
}

/*  Bildgröße via URL
    #gk: ganz klein
    #k: klein
    #m: mittel
    #g: groß
    #gg: ganz groß
    #flyer: auf Flyer angepasste Breite
    #u: darunter (Ausrichtung entfernen)
 */
.k,
img[src*="#k"] {
  max-width: 30rem;
  display: block;
}

.m,
img[src*="#m"] {
  max-width: 40rem;
  display: block;
}

.g,
img[src*="#g"] {
  max-width: 55rem;
  display: block;
}

.gg,
img[src*="#gg"] {
  max-width: 120rem;
  display: block;
}

.gk,
img[src*="#gk"] {
  max-width: 25rem;
  display: block;
}

.u,
img[src*="#u"] {
  clear: both;
  display: block;
}

.flyer,
img[src*="#flyer"] {
  clear: both;
  display: block;
  max-width: 70rem;
}
