/*
.site {
    display: grid;
    grid-template-areas:
        "map"
        "buttons";
}
*/
/* Funktioniert hier noch nicht
#map {
    grid-area: map;
    width: 900;
    height: 400;
}
*/
#wrapper {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1vh;
}

.button {
  height: 5vh;
  background-color: rgba(0, 70, 153, 1);
  border: solid thin black;
  border-radius: 8px;
  margin: 0.1em;
}

/* Text im Button*/
.button strong {
  font-size: 1.2em; /* Wieder erstmal über Stele testen */
  text-align: center;
  color: white;
  text-decoration: none;
}
.button p {
  font-size: 0.75em; /* Wieder erstmal über Stele testen */
  text-align: center;
  color: white;
  text-decoration: none;
}

/* Hover wenn Maus über dem Button
Die Farbe des Buttons wird weiß und die Schrift schwarz
wenn die Maus über ihm ist*/
.button:hover {
  background-color: #fff;
}
.button:hover strong {
  color: #000;
}
.button:hover p {
  color: #000;
}
