#dbueberschrift {
  font-size: 3.7rem;
  text-align: left;
  margin-left: 1.1rem;
}

p {
  color: black;
  text-align: justify;
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  margin-bottom: 1.8rem;
}

/* h1margin, um H1-Überschriften auf die Einrückung der anderen Elemente zu setzen */
.h1margin,
h2 {
  color: black;
  text-align: justify;
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  margin-bottom: 2.8rem;
}

h3,
h4,
h5 {
  color: black;
  text-align: justify;
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  margin-bottom: 1rem;
}

ul {
  color: black;
  text-align: justify;
  margin-left: 9.6rem;
  margin-right: 5.2rem;
}

ol {
  color: black;
  text-align: justify;
  margin-left: 9.6rem;
  margin-right: 5.2rem;
}

table,
th,
td {
  color: black;
  margin-left: 5rem;
  border-collapse: collapse;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1rem;
  padding: 1rem;
}

thead {
  text-align: left;
  background-color: #e5e5e5;
}

/*abwechselnde Einfaerbung der Tabellenzeilen*/
tbody tr:nth-child(even) {
  background-color: #e5e5e5;
  border-color: grey;
  color: #000;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: #000;
}

/*graues Hinterlegen der Tabellenzeile beim Ueberstreichen*/
thead tr:hover,
tbody tr:hover {
  background-color: grey;
}
