.unlockOverlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.unlockDialog {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  width: auto;
  height: auto;
  border-style: outset;
  background: #c0c0c0;
}

.unlockDialog > p,
.unlockDialog > span,
.unlockDialog > input {
  display: table-row;
  font-weight: bold;
}

.unlockDialog > span {
  text-align: center;
  background: #c0c0c0;
}

.unlockDialog > input {
  border: none;
  padding: 0;
  width: 100%;
  background: #ffffff;
}

.unlockDialog > p > input {
  display: table-cell;
  width: 7em;
  font-weight: bold;
}

.wrong {
  background: #ffcccb !important;
}
