/*********************** Stundenplan Eingabe *************************/
.containerEingabe {
  display: grid;
  grid-template-areas: "ausgabeFeld";
}
.ausgabeFeld {
  grid-area: "ausgabeFeld";
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  display: grid;
  grid-template-areas: "afFakultät afStudiengang afSeminargruppe buttonAbschicken . .";
  grid-template-columns: 27% 27% 27% 19%;
}

.ausgabeFeld * {
  margin: 1px;
}

.buttonAbschicken {
  grid-area: "buttonAbschicken";
  /* Button CSS */
  height: 3rem;
  border-radius: 8px;
  background-color: rgba(0, 70, 153, 1);
  border: solid thin black;
  align-self: flex-end;
  /* Text CSS*/
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
.buttonAbschicken:hover {
  background-color: rgb(1, 30, 63);
}
/*********************** Stundenplan Ausgabe *************************/
.containerAusgabe {
  margin: 5.2rem;
}

.tabLinks {
}

.tabContent {
}

.tabTable {
  margin-left: 0;
  margin-right: 0;
}

.tabThead {
  font-weight: bold;
}

.tabText {
  margin-left: 0;
  color: grey;
}
