.siteWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16%;
  margin-left: 16%;
  margin-right: 16%;
}

.bildInfo {
  grid-column: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 4%;
}
