.BIMPic {
  margin: 0% 20%;
}

.BIMWidgetItem {
  border: none;
  text-align: left;
  display: inline-block;
  width: 90%;
  min-height: 5vh;
  padding: 5px;
  overflow: auto;
  background-color: inherit;
  text-decoration: none;
}

/* Teile von BIMWidgetItem */
.BIMWidgetItemtitle {
  color: #000000;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: none;
}

.BIMWidgetItempreview {
  color: #000000;
  overflow: hidden;
  font-size: 1.1rem;
  text-transform: none;
}

.BIMWidgetItem .span {
  justify-content: flex-start;
}

.widgetkapselungBIM {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  grid-gap: 1rem;
  justify-content: space-evenly;
}
