.accordion {
  margin-bottom: 5.2rem;
}

.heading {
  background-color: #00338d;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  border-bottom: 1px solid white;
}

.text {
  background-color: #d9d9d9;
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  overflow: scroll;
  max-height: 24rem;
}

.text > p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.text > h3 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.text > ul {
  margin-left: 3rem;
  margin-right: 3rem;
}

.text > ol {
  margin-left: 3rem;
  margin-right: 3rem;
}

#begriffe {
  margin-top: 3rem;
  border: 0.5rem solid #d9d9d9;
  margin-left: 5.2rem;
  margin-right: 5.2rem;
  overflow: scroll;
  max-height: 60rem;
}

#begriffe > p {
  margin-left: 2rem;
  margin-right: 2rem;
}

#begriffe > h3 {
  margin-left: 2rem;
  margin-right: 2rem;
}
