#ResumeContainer {
  margin: auto;
  align-items: center;
  display: flex;
}

.PDFPage > canvas {
  max-width: 100%;
  height: auto !important;
}

.PDFNav {
  display: flex;
  margin: 1em;
}

.PDFNav > span {
  flex: 1;
  text-align: center;
}

.PDFNav button {
  font-weight: bold;
}
