.App {
  margin: 0 auto;
  width: 56.25vh;
  min-height: 100vh;
  background-size: cover;
  display: block;
  border-color: black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  align-content: start;
}

.buffer {
  height: 5rem;
}

.clock {
  font-size: 1.5rem;
}

.home {
  height: 2.5rem;
  width: auto;
}

.back {
  height: 2.5rem;
  width: auto;
}
