.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

main {
  padding: 0 2rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  padding: 3rem;
  padding-top: 2rem;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  z-index: 1051;
}

.title {
  line-height: 1;
  font-size: 1.5rem;
}

.calendar {
  text-align: right;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  /* text-align: right; */
}

.calendar div:first-child {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}

.logo {
  height: auto;
}

.icons {
  display: flex;
}

.wifi {
  padding-right: 0.5rem;
}

.wifioff {
  padding-right: 0.5rem;
  color: red;
}

.wifiwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.tutorial {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.back-button {
  background: #fff;
}

.touch {
  width: 600px;
  height: 100px;
  z-index: 1000;
}
