.modal {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
  text-align: left;
  background-color: rgba(0, 70, 153, 1);
  color: white;
}
.modal > .header {
  padding: 15px;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  top: -20px;
  right: 18px;
  font-size: 80px;
  padding-top: 0px;
  padding-bottom: -5px;
  font-size: 90px;
}

.modal > .content {
  margin: 20px 15px;
}

/* by default */
.popup-content {
  width: auto !important;
  background: rgba(0, 0, 0, 0) !important;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}
