.btn-block {
  display: block;
  width: 100%;
  /* */
  position: relative;
  right: 50px;
  bottom: 50px;
  /**/
}

/**/

#dbueberschrift:after {
  margin: 18rem 0rem 0rem 16rem !important;
  font-size: 25px !important;
}

.AppButton:after {
  margin: 6rem 0rem 6rem 16rem !important;
  font-size: 25px !important;
}

.react-tutorial-container div.complete a {
  margin-top: 3rem !important;
  position: relative !important;
  left: 200px !important;
}

/**/
.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/**/

.react-tutorial-container .status,
.react-tutorial-container .skipper {
  position: fixed;
  bottom: 0;
  width: 300px;
  padding: 20px;
  color: #fff;
  z-index: 1052;
}

.react-tutorial-container .status {
  left: 0;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.85);
  transition: background 0.2s ease;
}

.react-tutorial-container .status h4 {
  text-align: center;
  margin: 0;
}

.react-tutorial-container .status div.actions {
  margin-top: 20px;
}

.react-tutorial-container .status div.actions a {
  margin: 0;
}

.react-tutorial-container.active .status {
  background: rgba(0, 0, 0, 0.15);
}

.react-tutorial-container .skipper {
  display: none;
  right: 0;
}

.react-tutorial-container .skipper p {
  text-align: center;
}

.react-tutorial-container .skipper p:last-child {
  margin-bottom: 0;
}

.react-tutorial-container.active .skipper {
  display: block;
}

.react-tutorial-container ul.steps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

.react-tutorial-container ul.steps li {
  display: inline-block;
  margin: 0 2px;
  opacity: 0.5;
}

.react-tutorial-container ul.steps li.active {
  opacity: 1;
}

.react-tutorial-container .blackout,
.react-tutorial-container .announcements {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.react-tutorial-container .blackout div.too-high,
.react-tutorial-container .blackout div.too-low,
.react-tutorial-container .blackout div.announcement,
.react-tutorial-container .announcements div.too-high,
.react-tutorial-container .announcements div.too-low,
.react-tutorial-container .announcements div.announcement {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.react-tutorial-container .announcements {
  z-index: 1051;
}

.react-tutorial-container .announcements div.announcement {
  font-size: 20px;
  line-height: 1.6em;
  white-space: pre-wrap;
  text-align: left;
  max-width: 600px;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.react-tutorial-container .announcements div.announcement div.dismiss {
  margin-top: 2em;
}

.react-tutorial-container .blackout {
  background: #000;
  z-index: 1050;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.react-tutorial-container .blackout div.too-high,
.react-tutorial-container .blackout div.too-low {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-animation: directionPulse 1s infinite;
  animation: directionPulse 1s infinite;
}

.react-tutorial-container .blackout.too-high div.too-high {
  visibility: visible;
  opacity: 1;
}

.react-tutorial-container .blackout.too-low div.too-low {
  visibility: visible;
  opacity: 1;
}

.react-tutorial-container.active .blackout {
  opacity: 0.85;
}

.react-tutorial-container div.complete {
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  -ms-transform: translateY(-51%) translateX(-50%);
  transform: translateY(-51%) translateX(-50%);
  margin: 0 auto;
  z-index: 1051;
}

.react-tutorial-container div.complete h2 {
  /*margin: 0;*/
  margin-bottom: 2em;
  color: #fff;
}

.react-tutorial-container div.complete p {
  white-space: pre-wrap;
  color: #fff;
}

.react-tutorial-container div.complete a {
  margin-top: 2em;
}

/**/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.float-right {
  float: right !important;
}
/**/

div.status h4 {
  display: none;
}

div.status ul.steps {
  color: #fff;
}

div.status {
  background: none !important;
  /*bottom: 500px !important;
    left: 50% !important;
    transform: translateX(-98px);*/
  bottom: 100px !important;
  left: 50px !important;
}
