/* Umschließt beide Widgets für nebeneinanderstellen */
.widgetkapselung2 {
  display: flex;
  flex-direction: column;
}

/* Rahmen um jeweils News und Veranstaltungen */
.widget {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #ffffff;
  height: 40vh;
  border-style: solid;
  border-width: thin;
  border-color: #ffffff;
  line-height: 1.5;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /*vorher: hidden; -> Es kann nichtmehr gescrollt werden
  jetzt wird der Balken nicht angezeigt wenn nicht benötigt
  aber wenn benötigt kann gescrollt werden*/
  /*overflow: auto;*/
  overflow-y: scroll;
  /*In zusammenhang mit Scollkapselung, verschiebt Scrollbar so, das versteckt*/
  /*Nötig, da nicht auf funktionen zum verstecken zugegriffen werden kann*/
  width: 100%;
  padding-right: 17px;
}
.Scrollkapselung {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* "News" und "Veranstaltungen" */
.widgetheadline {
  font-size: 2rem;
  font-weight: bold;
}

/* Ausfaden am Rand des Widgets */
.fade {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5));
}
