.ImageQRWrapper {
  display: grid;
  grid-template-columns: 66% 34%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 4%;
}

.QRWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 4%;
}

.articleImg {
  grid-column: 1;
  max-width: 100%;
  max-height: 100%;
}

.QRAndTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ImageQRWrapper > .QRAndTextWrapper {
  grid-column: 2;
}

.QRAndTextWrapper > p {
  text-align: center;
}

#qr {
  align-self: flex-end;
}

.date {
  color: #bec3c6;
  font-size: 1rem;
  text-transform: none;
}

.standard-link {
  text-decoration: none;
  color: darkblue;
}

.articleH3 {
  font-size: 1rem;
}
