/* Buttons der individuellen News und Veranstaltungen */
.FeedListItem {
  border: none;
  text-align: left;
  display: block;
  min-width: 90%;
  min-height: 5vh;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
  background-color: inherit;
}

/* Teile von FeedListItem */
.FeedListItemdate {
  color: #bec3c6;
  font-size: 1rem;
  text-transform: none;
}

.FeedListItemdtitle {
  color: #000000;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: none;
}

.FeedListItempreview {
  color: #000000;
  overflow: hidden;
  font-size: 1.1rem;
  text-transform: none;
}

.FeedListItem .span {
  justify-content: flex-start;
}
