ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 12px;
}

li {
  flex: 3;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5rem 16rem;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #61dafb;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #61dafb;
}

.dropdown:hover .dropdown-content {
  display: block;
}
