.button {
  /* Button CSS */
  width: 100%;
  height: 10vh;
  border-radius: 8px;
  background-color: rgba(0, 70, 153, 1);

  border-style: solid;
  border-width: thin;
  border-color: black;

  /* Text CSS*/
  font-size: 150%; /*150% or 1.5em or 1.5rem?*/
  text-align: center;
  color: white;
  text-decoration: none;
}

/* Hover wenn Maus über dem Button
Die Farbe des Buttons wird dunkler wenn die Maus über ihm ist*/
.button:hover {
  background-color: rgb(1, 30, 63);
  color: white;
}
