/* App-Buttons der Hauptseite und der statischen Inhalte-Nav */
.AppButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  grid-gap: 1rem;
  justify-content: space-evenly;
}
.AppButton button {
  font-size: 1rem; /* 1.00499993em; /*Ich habe mal angenähert welche Größe geht sonst 1em*/
  width: 100%;
  height: 10vh;
}

/* Icon im Button */
.icon {
  margin-right: 0.5rem;
}

/* Buttons der Hauptseite zum Weiterleiten auf die Inhalte */
.mainbutton {
  width: "100%";
}

/* Umschließt beide Widgets für nebeneinanderstellen */
.widgetkapselung {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  grid-gap: 1rem;
  justify-content: space-evenly;
}
