/*Container*/
.container {
  float: left;
  height: 100%;
}

.search-label {
  position: relative;
}

.container input {
  min-width: 10vh;
  font-size: 36px;
  border: solid black 1px;
  font-style: italic;
  color: #444;
  outline: none;
}
